In [39]:
import pandas as pd

In [37]:
pd.set_option('display.max_rows', 200)

#### Read CSV files into separate dataframes

In [52]:
domestic_2016 = pd.read_csv(r"C:\Users\Sruthy Iype\Desktop\Data Projects\Telangana Tourism Department\domestic_visitors\domestic_visitors_2016.csv")
domestic_2017 = pd.read_csv(r"C:\Users\Sruthy Iype\Desktop\Data Projects\Telangana Tourism Department\domestic_visitors\domestic_visitors_2017.csv")
domestic_2018 = pd.read_csv(r"C:\Users\Sruthy Iype\Desktop\Data Projects\Telangana Tourism Department\domestic_visitors\domestic_visitors_2018.csv")
domestic_2019 = pd.read_csv(r"C:\Users\Sruthy Iype\Desktop\Data Projects\Telangana Tourism Department\domestic_visitors\domestic_visitors_2019.csv")
foreign_2016 = pd.read_csv(r"C:\Users\Sruthy Iype\Desktop\Data Projects\Telangana Tourism Department\foreign_visitors\foreign_visitors_2016.csv")
foreign_2017 = pd.read_csv(r"C:\Users\Sruthy Iype\Desktop\Data Projects\Telangana Tourism Department\foreign_visitors\foreign_visitors_2017.csv")
foreign_2018 = pd.read_csv(r"C:\Users\Sruthy Iype\Desktop\Data Projects\Telangana Tourism Department\foreign_visitors\foreign_visitors_2018.csv")
foreign_2019 = pd.read_csv(r"C:\Users\Sruthy Iype\Desktop\Data Projects\Telangana Tourism Department\foreign_visitors\foreign_visitors_2019.csv")

#### Combine the dataframes using the concat function

In [53]:
domestic_visitors = pd.concat([domestic_2016, domestic_2017, domestic_2018, domestic_2019])
foreign_visitors = pd.concat([foreign_2016, foreign_2017, foreign_2018, foreign_2019])

#### Data Cleaning

In [54]:
domestic_visitors.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1512 entries, 0 to 395
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   district  1512 non-null   object
 1   date      1512 non-null   object
 2   month     1512 non-null   object
 3   year      1512 non-null   int64
 4   visitors  1482 non-null   object
dtypes: int64(1), object(4)
memory usage: 70.9+ KB

In [56]:
domestic_visitors.head()

   district        date     month  year visitors
0  Adilabad  01-01-2016   January  2016   792136
1  Adilabad  01-02-2016  February  2016   937820
2  Adilabad  01-03-2016     March  2016   582946
3  Adilabad  01-04-2016     April  2016   341948
4  Adilabad  01-05-2016       May  2016   252887

In [57]:
# Convert date column to datetime data type
domestic_visitors['date'] = pd.to_datetime(domestic_visitors['date'], format = '%d-%m-%Y')

In [58]:
# Remove leading and trailing spaces from district, and visitors columns
domestic_visitors['district'] = domestic_visitors['district'].str.strip()
domestic_visitors['visitors'] = domestic_visitors['visitors'].str.strip()

In [59]:
null_values_domestic = domestic_visitors['visitors'].isnull().sum()
null_values_domestic

30

In [60]:
# Replace null values and empty strings with 0 
domestic_visitors['visitors'] = domestic_visitors['visitors'].fillna(0).replace('', 0)
# Convert visitors column to int datatype
domestic_visitors['visitors'] = domestic_visitors['visitors'].astype(int)

In [61]:
missing_values_domestic = domestic_visitors.groupby(['district', 'year'])['visitors'].apply(lambda x: (x == 0).sum())

In [63]:
# Districts having missing values for monthly visitor footfall
missing_values_domestic[missing_values_domestic> 0]

district                  year
Bhadradri Kothagudem      2016     9
Jagtial                   2016     9
Jangaon                   2016     9
Jayashankar Bhoopalpally  2016     9
Jogulamba Gadwal          2016     9
Kamareddy                 2016     9
Komaram Bheem Asifabad    2016    12
Mahabubabad               2016     9
Mancherial                2016     9
Medchal                   2016    12
                          2017    12
                          2018    12
                          2019    12
Mulugu                    2019     1
Nagarkurnool              2016     9
Narayanapet               2019     6
Nirmal                    2016     9
Peddapalli                2016     9
Rajanna Sircilla          2016     9
Ranga Reddy               2016    12
                          2017    12
                          2018    12
                          2019    12
Sangareddy                2016     9
Siddipet                  2016     9
Suryapet                  2016    12
                          2017    12
                          2018    12
                          2019    12
Vikarabad                 2016    12
                          2017    12
                          2018    12
                          2019    12
Wanaparthy                2016     9
Warangal (Rural)          2016     9
Yadadri Bhongir           2016     9
Name: visitors, dtype: int64

It is noticed that a lot of districts are missing data for the year 2016. Further, four districts- Medchal, Ranga Reddy, Suryapet and Vikarabad- have no data on domestic visitors footfall for all four year.

In [76]:
# Districts having no missing values for monthly visitor footfall
missing_values_domestic[missing_values_domestic== 0]

district                  year
Adilabad                  2016    0
                          2017    0
                          2018    0
                          2019    0
Bhadradri Kothagudem      2017    0
                          2018    0
                          2019    0
Hyderabad                 2016    0
                          2017    0
                          2018    0
                          2019    0
Jagtial                   2017    0
                          2018    0
                          2019    0
Jangaon                   2017    0
                          2018    0
                          2019    0
Jayashankar Bhoopalpally  2017    0
                          2018    0
                          2019    0
Jogulamba Gadwal          2017    0
                          2018    0
                          2019    0
Kamareddy                 2017    0
                          2018    0
                          2019    0
Karimnagar                2016    0
                          2017    0
                          2018    0
                          2019    0
Khammam                   2016    0
                          2017    0
                          2018    0
                          2019    0
Komaram Bheem Asifabad    2017    0
                          2018    0
                          2019    0
Mahabubabad               2017    0
                          2018    0
                          2019    0
Mahbubnagar               2016    0
                          2017    0
                          2018    0
                          2019    0
Mancherial                2017    0
                          2018    0
                          2019    0
Medak                     2016    0
                          2017    0
                          2018    0
                          2019    0
Nagarkurnool              2017    0
                          2018    0
                          2019    0
Nalgonda                  2016    0
                          2017    0
                          2018    0
                          2019    0
Nirmal                    2017    0
                          2018    0
                          2019    0
Nizamabad                 2016    0
                          2017    0
                          2018    0
                          2019    0
Peddapalli                2017    0
                          2018    0
                          2019    0
Rajanna Sircilla          2017    0
                          2018    0
                          2019    0
Sangareddy                2017    0
                          2018    0
                          2019    0
Siddipet                  2017    0
                          2018    0
                          2019    0
Wanaparthy                2017    0
                          2018    0
                          2019    0
Warangal (Rural)          2017    0
                          2018    0
                          2019    0
Warangal (Urban)          2016    0
                          2017    0
                          2018    0
                          2019    0
Yadadri Bhongir           2017    0
                          2018    0
                          2019    0
Name: visitors, dtype: int64

In [6]:
# Repeat steps for foreign_visitors
foreign_visitors.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1512 entries, 0 to 395
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   district  1512 non-null   object
 1   date      1512 non-null   object
 2   month     1512 non-null   object
 3   year      1512 non-null   int64
 4   visitors  1512 non-null   object
dtypes: int64(1), object(4)
memory usage: 70.9+ KB

In [65]:
foreign_visitors.head()

   district        date     month  year visitors
0  Adilabad  01-01-2016   January  2016        2
1  Adilabad  01-02-2016  February  2016        0
2  Adilabad  01-03-2016     March  2016        2
3  Adilabad  01-04-2016     April  2016        0
4  Adilabad  01-05-2016       May  2016        0

In [66]:
# Convert date column to datetime data type
foreign_visitors['date'] = pd.to_datetime(foreign_visitors['date'], format = '%d-%m-%Y')

In [67]:
# Remove leading and trailing spaces from district, and visitors columns
foreign_visitors['district'] = foreign_visitors['district'].str.strip()
foreign_visitors['visitors'] = foreign_visitors['visitors'].str.strip()

In [68]:
null_values_foreign = foreign_visitors['visitors'].isna().sum()
null_values_foreign

0

In [69]:
# Replace null values and empty strings with 0 
foreign_visitors['visitors'] = foreign_visitors['visitors'].fillna(0).replace('', 0)
# Convert visitors column to int datatype
foreign_visitors['visitors'] = foreign_visitors['visitors'].astype(int)

In [70]:
missing_values_foreign = foreign_visitors.groupby(['district', 'year'])['visitors'].apply(lambda x: (x == 0).sum())

In [73]:
# Districts having missing values for monthly visitor footfall
missing_values_foreign[missing_values_foreign> 0]

district                  year
Adilabad                  2016     8
                          2017     9
                          2018    10
                          2019     9
Bhadradri Kothagudem      2016    12
                          2017    12
                          2018    12
                          2019    12
Jagtial                   2016    12
                          2017    12
                          2018    12
                          2019    12
Jangaon                   2016    11
                          2017    12
                          2018    12
                          2019    12
Jayashankar Bhoopalpally  2016     9
                          2019    11
Jogulamba Gadwal          2016     9
Kamareddy                 2016    12
                          2017    12
                          2018    12
                          2019    12
Karimnagar                2016    12
                          2017    12
                          2018    12
                          2019    12
Khammam                   2016    12
                          2017    12
                          2018    12
                          2019    12
Komaram Bheem Asifabad    2016    12
                          2017    12
                          2018    12
                          2019    12
Mahabubabad               2016    12
                          2017    12
                          2018    12
                          2019    12
Mancherial                2016    12
                          2017    12
                          2018    12
                          2019    11
Medak                     2016    12
                          2017    12
                          2018    12
                          2019    12
Medchal                   2016    12
                          2017    12
                          2018    12
                          2019    12
Mulugu                    2019     1
Nagarkurnool              2016     9
Nalgonda                  2016    12
                          2017    12
                          2018    12
                          2019    12
Narayanpet                2019    11
Nirmal                    2016    12
                          2017    12
                          2018    11
                          2019    12
Nizamabad                 2016    12
                          2017    11
                          2018    10
                          2019    11
Peddapalli                2016    12
                          2017    12
                          2018    12
                          2019    12
Rajanna Sircilla          2016    12
                          2017    12
                          2018    12
                          2019    12
Ranga Reddy               2016    12
                          2017    12
                          2018    12
                          2019    12
Sangareddy                2016    12
                          2017    12
                          2018    12
                          2019    12
Siddipet                  2016    12
                          2017    12
                          2018    12
                          2019    12
Suryapet                  2016    12
                          2017    12
                          2018    12
                          2019    12
Vikarabad                 2016    12
                          2017    12
                          2018    12
                          2019    12
Wanaparthy                2016    12
                          2017    12
                          2018    12
                          2019    12
Warangal (Rural)          2016    12
                          2018    12
                          2019    12
Yadadri Bhongir           2016    12
                          2017    12
                          2018    12
                          2019    12
Name: visitors, dtype: int64

In [74]:
# Districts having no missing values for monthly visitor footfall
missing_values_foreign[missing_values_foreign== 0]

district                  year
Hyderabad                 2016    0
                          2017    0
                          2018    0
                          2019    0
Jayashankar Bhoopalpally  2017    0
                          2018    0
Jogulamba Gadwal          2017    0
                          2018    0
                          2019    0
Mahbubnagar               2016    0
                          2017    0
                          2018    0
                          2019    0
Nagarkurnool              2017    0
                          2018    0
                          2019    0
Warangal (Rural)          2017    0
Warangal (Urban)          2016    0
                          2017    0
                          2018    0
                          2019    0
Name: visitors, dtype: int64

Hyderabad and Warangal(Urban) are the only two districts with complete data for foreign tourist footfall for all 4 years.

#### Export the combined dataframes into CSV files

In [75]:
domestic_visitors.to_csv('domestic_visitors.csv', index=False)
foreign_visitors.to_csv('foreign_visitors.csv', index=False)

In [ ]:
' '